.veliki-interface-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6A9C89;
}
    

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1350px;
    font-size: 1.5rem;
}

.container-desna-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: 1.5rem; 
    max-width: 350px;
}

.heading {
    text-align: center;
}

.titlu-contact {
    font-size: 55px;
    font-weight: 500;
}

  
